<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a color</title>
</head>
<body>
<h2>Add your fav color to DB:</h2>
<form action="/thanks" method="post">
    <label for="cname">Color Name:</label><br>
    <input type="text" id="cname" name="cname" value="Yellow">
    <br>

    <label for="uname">Your Name:</label><br>
    <input type="text" id="uname" name="uname" value="Roy">
    <br><br>
    <input type="submit" value="Add">
</form>


<a href="/">Home</a>

</body>
</html>